@use "./components/Nav/Nav.scss";
@use  "./components/Card/Card.scss";
@use  "./components/Score/Score.scss";
@use  "./pages/Dashboard.scss";
*{
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}